body, html {
    margin: 0;
    height: 100%;
}

body { 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clouds {
    background-image: url('https://media.giphy.com/media/otGjMs8mlxmtq/giphy.gif')
}
.rain {
    background-image: url("https://media.giphy.com/media/dI3D3BWfDub0Q/giphy.gif");
}
.snow {
    background-image: url("https://media.giphy.com/media/3oEhmJn9PkdYtGFwyc/giphy.gif");
}
.drizzle{
    background-image: url("https://media.giphy.com/media/l0IrIkq7Q3iRII0hy/giphy.gif");
}   
.thunderstorm{
    background-image: url("https://media.giphy.com/media/8xY1YYpEZ4dws/giphy.gif");
}
.clear{
    background-image: url("https://images.unsplash.com/photo-1501682855625-15c985cd12a5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=24786866cf6aa9009096c706f1fd3454&w=1000&q=80");
}
.fog {
    background-image: url("https://media.giphy.com/media/IuKnqFMhtcA2A/giphy.gif");
}
